@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  background-color:#190D35;
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}

ul{
    display: flex;
}
ul li {
    list-style: none
}
ul li a{
    text-decoration: none;
    margin-left: 50px;
    font-size:16px ;
    font-weight:500 ;
    color:#FFFFFF ;
}

.btn{
    padding:12px 16px ;
    border: none;
    font-size:16px ;
    font-weight:500 ;
    border-radius:30px ;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:#FFFFFF ;
}
#hamburger-menu{
    display: none;
}
/* style hero section */
.hero{
   
    background-image: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 100px 500px;
    
   
}
.new{
    background-color: #00FF88;
     border-radius:30px ;
     width:50px;
}
.hero-img{
    width: 100%;
    background-image: url(../assets/hero-circle.png) ;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     background-size:contain ;
     padding: 50px;
     
}

.hero-container{
   max-width:525px;
   margin:0 auto;
   text-align: center;

}
.hero-title{
    font-size:4rem ;
    font-weight:800 ;
    color:#FFFFFF ;
}
.hero-description{
    font-size:1rem ;
      color: #FFFFFF;
      margin-bottom: 15px;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn2{
    padding:12px 16px ;
    border: 1px solid #00ff88;
    font-size:1rem ;
    font-weight:500 ;
    border-radius:30px ;
    color:#00FF88 ;
    background-color:rgba(255, 255, 255, 0) ;  
  
}
/* style about section */
.about{
background-color:#190D35;
 
}
.about-content{
 max-width: 1200px;
margin: 0 auto;
text-align: center;
padding:50px ;
}
.about-title{
font-size: 3rem;
font-weight:700 ;
color: #FFFFFF;
}
.about-description{
font-size: 1rem;
color: #FFFFFF;
padding-top: 15px;
padding-bottom: 50px;
}

.about-content hr{
    color: #ffffff00;
}
@media screen  and (max-width: 576px){
   nav{
    display: none;
   } 
 #btn1{
    display: none;
}
#hamburger-menu{
    display: inline;   
}
header{
max-width:576px ;
padding: 20px;
}

.hero{
    padding: 20px 50px ; 
}
.hero-title{
    font-size:2.5rem ;
    font-weight:500;
  
}
.hero-img{
 padding: 30px;
}
};