@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  background-color:#190D35;
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}

ul{
    display: flex;
}
ul li {
    list-style: none
}
ul li a{
    text-decoration: none;
    margin-left: 50px;
    font-size:16px ;
    font-weight:500 ;
    color:#FFFFFF ;
}

.btn{
    padding:12px 16px ;
    border: none;
    font-size:16px ;
    font-weight:500 ;
    border-radius:30px ;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color:#FFFFFF ;
}
#hamburger-menu{
    display: none;
}
/* style hero section */
.hero{
   
    background-image: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 100px 500px;  
}

.hero-img{
    width: 100%;
    background-image: url(../assets/hero-circle.png) ;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     background-size:contain ;
     padding: 50px;
     position: relative;
     
}
.new{
    position: absolute;
    top: 3%;
    right: 60%;
    left: 60%;
    width: 60px;
    background-color: #00FF88;
     border-radius:30px ;
     padding:4px 8px;
     color: #1A0B2E;
     box-shadow: 0 3 27 rgba(0, 255, 136, 0.5);
}
.hero-container{
   max-width:525px;
   margin:0 auto;
   text-align: center;

}
.hero-title{
    padding-top: 10px;
    font-size:4rem ;
    font-weight:800 ;
    color:#FFFFFF ;
}
.hero-description{
    font-size:1rem ;
      color: #FFFFFF;
      margin-bottom: 15px;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn2{
    padding:12px 16px ;
    border: 1px solid #00ff88;
    font-size:1rem ;
    font-weight:500 ;
    border-radius:30px ;
    color:#00FF88 ;
    background-color:rgba(255, 255, 255, 0) ;  
  
}
/* style about section */
.about{
background-color:#190D35;

}
.about-content{
max-width: 1200px;
margin: 0 auto;
text-align: center;
padding:50px ;
}
.about-title{
font-size: 3rem;
font-weight:700 ;
color: #FFFFFF;
}
.about-description{
font-size: 1rem;
color: #FFFFFF;
padding-top: 15px;
padding-bottom: 50px;
}

.about-img{
    width: 100%;
}
/* style card-section */
.card-section{    
    background-color:#190D35;
    padding-bottom: 100px;
    
}
.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( 4 ,1fr);
    text-align: center;
}
.card-title{
font-size: 3rem;
font-weight:900 ;
color:#00FF88 ;
}
.card-subtitle{
font-size:1rem ;
color:#FFFFFF ;
padding-bottom: 20px;
}


/* style chose  */
.chose{
   background-color: #190D35;
}
.chose-container{
     max-width: 1600px;
     margin: 0 auto;
     padding: 120px ;
     display: grid;
     gap: 30px;
     grid-template-columns:repeat( 3,1fr) ;
     grid-template-rows: 300px  1fr;
    
}
#card1{
    grid-row:span 2 ;
}
#card2{
grid-column:span 2 ;
}
#card3{
grid-column:span 2 ;
}

#card4{
grid-column:span 2 ;
}
#card5{

}
.section-title{
    font-size:3rem ;
    font-weight:700 ;
    color:#FFFFFF ;
    text-align: center;
  
}
.chose-img{
    height:50px;
    width: 50px;
}
.chose-title{
     font-size:1.5rem ;
    font-weight:600 ;
    color:#FFFFFF ;
   padding-top: 20px;
}
.chose-subtitle{
     font-size:1rem ; 
    color:#FFFFFF ; 
     padding: 15px 0;  
}
.chose-card{
    padding:40px;
    background-color:rgba(53, 17, 101, 0.4) ;
    border-radius: 30px;  
}

#card1{
    grid-template-columns: 1;
    grid-template-rows: 2;
}

/* style featured */
.featured{
    background-color: #1A0B2E;
    padding: 100px 0;
}
.featured-container{
    padding-top: 50px;
   max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( 3 ,1fr);
    gap: 30px;
}

.clock{
    display: flex;
    gap: 10px;
}
.clock p{
font-size: 1rem;
font-weight: 500;
color: #00FF88;
}
.featured-card{
    background-color: #250D44;
    border-radius: 20px;  
}
.feature-content{
    padding: 20px;
}
.featured-card iframe{
    width: 100%;
    border-radius:10px 10px 0px 0px ;
}

/* style  meet section */
.meet{
     padding-top: 50px;
   
}
.meet-container{
    
     background-color: #250D44;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 15px;
    align-items: center;
}
.meet-title{
    padding-bottom: 50px;
}
.icon-box{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* footer */
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}
.footer-container{
  padding: 100px 0; 
     max-width:500px ;
    margin: 0 auto;
    text-align: center; 
}
.footer-img img{
    width: 100%;
}
.social-img {
    display: flex;
    gap: 10px;
}
.social-img img{
    height: 24px;
    width: 24px;
}
.footer-social-imgs{
     padding: 25px 0; 
     gap: 10px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.footer-p{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}
/* responsive */
@media screen  and (max-width:576px){
   nav{
    display: none;
   } 
 #btn1{
    display: none;
}
#hamburger-menu{
    display: inline; 
    margin-right: 30px;  
}
header{
max-width:576px ;
padding: 20px;
}

.hero{
    padding: 20px 50px ; 
}
.hero-title{
    font-size:2.5rem ;
    font-weight:500;
  
}
.hero-img{
 padding: 30px;
}
.about-content{
max-width: 500px;
padding:40px 20px;
}

.card-section{    
    background-color:#190D35;
    padding-bottom: 50px;
    
}
.card-container{
    max-width: 1200px;
    grid-template-columns: repeat( 2 ,1fr);
    text-align: center;
}
.card-title{
font-size: 2.5rem;
border-bottom: 20px;
}
.card-subtitle{
padding-bottom: 40px;
}

.chose-container{
     padding: 30px ;
     gap: 20px;
     grid-template-columns:repeat( 1,1fr  ) ;
    
}
.chose-card {
       padding: 30px;
}

.featured-container{
    padding: 40px  20px;
    grid-template-columns: repeat( 1 ,1fr);
    gap: 30px;
}

.meet-container{
  flex-direction: column;
  
}
.footer-img img{
    width: 50%;
}
.footer-social-imgs{
     padding: 20px 0; 

    grid-template-columns: repeat(2 ,1fr);
}
};